<footer>

    <div class="f-info flex flex-wrap justify-center items-center text-center p-4 border-t-2 bg-[#ebebeb]">
        <div class="f-info-socials w-full">
            <i class="fa-brands fa-square-facebook text-xl"></i>
            <i class="fa-brands fa-square-instagram text-xl"></i>
            <i class="fa-brands fa-square-linkedin text-xl"></i>
        </div>
        <div class="">&copy; TerraStay Private Limited</div>
        <div class="f-info-links w-full">
            <a href="/privacy" class="no-underline text-[#222222] hover:underline">Privacy</a>
            <a href="/terms" class="no-underline text-[#222222] hover:underline">Terms</a>
        </div>
    </div>
    
</footer>