<nav class="navbar navbar-expand-md bg-light navbar-light mb-4 pt-4 pb-4 font-bold border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-sharp fa-solid fa-plane-departure text-3xl"></i></a>
    <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link !text-[#000000]" href="/">Home</a>
        <a class="nav-link !text-[#000000]" href="/listings">All Listings</a>
        <a class="nav-link !text-[#000000]" href="/listings/new">Add New Listing</a>
      </div>
    </div>
  </div>
</nav>
