<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderList</title>
</head>
<body>
    <h2>All Listings</h2>
    
    <%= for (let listing for allListings) { %>
        <h3><%= listing.title %></h3>
    <%= } %>

</body>
</html>
