<% layout("../layouts/boilerplate.ejs") %>

<body>

    <h2>All Listings</h2>
    <form action="/listings/new" method="GET">
        <button class="bg-black text-white font-bold py-2 px-2 rounded">Create New Listing</button>
    </form>
    <ul>
        <% for (let listing of allListings) { %>
            <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>

</body>
